<form>
	<div class="form-group">
		<label for="first_name" class="control-label">First Name</label>
		<input type="text" class="form-control" id="first_name" name="first_name" placeholder="Alice">
	</div>

	<div class="form-group">
		<label for="last_name" class="control-label">Last Name</label>
		<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Smokes">
	</div>

	<div class="form-group">
		<label for="company_name" class="control-label">Company's Name</label>
		<input type="text" class="form-control" id="company_name" name="company_name" placeholder="Hilton">
	</div>

	<div class="form-group">
		<label for="email" class="control-label">E-mail</label>
		<input type="text" class="form-control" id="email" name="email" placeholder="your@email.com">
	</div>

	<div class="form-group">
		<label for="address" class="control-label">Address</label>
		<input type="text" class="form-control" id="address" name="address" placeholder="123 Apple Lane">
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>

</form>
